extends layout

block content
  nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    a.navbar-brand.js-scroll-trigger(href='#page-top')
      span.d-none.d-lg-block
        img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2.lozad(
          data-src='https://a.storyblok.com/f/47130/145x160/a01cd54766/profile-picture.jpg',
          alt='Profile Picture'
        )
    button.navbar-toggler(
      type='button',
      data-toggle='collapse',
      data-target='#navbarSupportedContent',
      aria-controls='navbarSupportedContent',
      aria-expanded='false',
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#about') About
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#experience') Experience
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#skills') Skills
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#contact') Contact
  .container-fluid.p-0
    
    //- ====================================================
    //- ABOUT
    //- ======================================================
    section#about.resume-section.p-3.p-lg-5.d-flex.d-column
      .pl-xl-5.ml-xl-5.my-auto
        h1.mb-0.text-primary
          | Daniel
          span.text-white Sztolc
          span.text-primary man
        .subheading.mb-sm-5.mb-4.text-white Full-stack web developer
        p.about-text.text-white.mb-sm-5.mb-4
          | Hi there! My name is Daniel. After working as a pharmacist for a number of years, I decided to try my hand
          | at coding and haven't looked back. I enjoy singing, playing the piano, trivia and making terrible puns.
        ul.list-inline.list-social-icons.mb-0
          li.list-inline-item
            a(href='https://github.com/djstozza', target='_blank', rel='noopener noreferrer')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fab.fa-github.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='https://www.linkedin.com/in/danielsztolcman', target='_blank', rel='noopener noreferrer')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fab.fa-linkedin.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='mailto:daniel.sztolcman@gmail.com')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-envelope.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='https://twitter.com/DSztolcman', target='_blank', rel='noopener noreferrer')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fab.fa-twitter.fa-stack-1x.fa-inverse
    
    //- ====================================================
    //- EXPERIENCE
    //- ======================================================
    section#experience.p-3.p-lg-5.d-flex.flex-column
      .row.my-auto
        .col-12
          h2.mt-5.text-center Experience
          .mb-5.heading-border
        #experience-box.main-experience
          .experience
            a(
              href='https://generalassemb.ly/education/web-development-immersive#overview',
              target='_blank',
              rel='noopener noreferrer'
            )
              .experience-icon
              .experience-content
                span.date Aug 2015 - Nov 2015
                h5.title General Assembly - Web Development Immersive Course
                p.description
                  | A rigorous three month course with a well rounded curriculum that teaches
                  | students how to build well-tested web applications.
          .experience
            a(href='https://www.carnextdoor.com.au/', target='_blank', rel='noopener noreferrer')
              .experience-icon
              .experience-content
                span.date December 2015 - Present
                h5.title Car Next Door - Full-Stack Web Developer
                p.description
                  | A P2P car sharing platform that aims to improve community bonds and reduce carbon emissions. My
                  | coding skills have increased dramatically as I've released features, fixed bugs, written tests,
                  | reviewed PRs and helped with deploys.
    //- ====================================================
    //- PORTFOLIO
    //- ======================================================
    section#portfolio.p-3.p-lg-5.d-flex.flex-column
      .row.my-auto
        .col-12
          h2.mt-5.text-center Portfolio
          .mb-5.heading-border
      .row.my-auto
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#fplApp1', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/313x240/cbdd642f87/fpl_app_fe_homepage_small.jpg',
              alt='Fpl App Homepage'
            )
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#fplApp2', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/313x240/e604935079/fpl_app_fe_team_view_small.jpg',
              alt='Fpl App Team View'
            )
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#fplApp3', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/313x240/25d128d04d/fpl_app_fe_player_view_small.jpg',
              alt='Fpl App Player View'
            )
      .row.my-auto
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#sudoku1', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/313x240/82fb1e2f56/sudoku-1-small.jpg',
              alt='MEAN Sudoku Board'
            )
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#sudoku2', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/313x232/f259af66d4/sudoku-2-small.jpg',
              alt='MEAN Sudoku Board Completed'
            )
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#sudoku3', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/313x232/114a3ed980/sudoku-3-small.jpg',
              alt='MEAN Sudoku Score Table'
            )
        
      .row.my-auto
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#trumpTweet1', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/1690x1228/50e1856479/trump-tweet-1.jpg',
              alt='TrumpTweet Page'
            )
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#trumpTweet2', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/1690x1234/ba5ffd474f/trump-tweet-2.jpg',
              alt='TumpTweet communicating with Twitter'
            )
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#trumpTweet3', data-toggle='modal')
            .caption-port
              .caption-port-content
                i.fa.fa-search-plus.fa-3x
            img.img-fluid.lozad(
              data-src='https://a.storyblok.com/f/47130/1690x1234/dbaee2081c/trump-tweet-3.jpg',
              alt='TrumpTweet continuous deployment via CircleCi'
            )
    //- ====================================================
    //- SKILLS
    //- ======================================================
    section#skills.d-flex.flex-column.lozad(
      data-background-image="https://a.storyblok.com/f/47130/900x650/875cb5dfc3/macbook.jpg"
    )
      .p-lg-5.p-3.skill-cover
        h3.mt-5.text-center.text-white Skills
        .row.text-center.my-auto
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-html5-plain.skill-icon
              h2 HTML5
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-css3-plain.skill-icon
              h2 CSS3
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-javascript-plain.skill-icon
              h2 Jascript
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-react-original.skill-icon
              h2 React
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-angularjs-plain.skill-icon
              h2 Angular
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-jquery-plain.skill-icon
              h2 JQuery
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-ruby-plain.skill-icon
              h2 Ruby
          .col-md-3.col-sm-6
            .skill-item
              i.devicon-rails-plain.skill-icon
              h2 Rails
    //- ====================================================
    //- CONTACT
    //- ======================================================
    section.px-3.pt-3.px-lg-5.pt-lg-5.d-flex.flex-column
      #contact.row.pt-5.pb-0
        .col-md-12
          .contact-cont
            h3.mb-0 Get in touch
          form#contact-form(role='form')
            .row.con-form
              .col-md-12
                input#name.form-control.my-2.form-input(type='text' name='name' placeholder='Full Name' required)
                div.invalid-feedback
              .col-md-12
                input#email.form-control.my-2.form-input(type='email' name='email' placeholder='Email' required)
                .invalid-feedback
              .col-md-12
                input#subject.form-control.my-2.form-input(type='text' name='subject' placeholder='Subject' required)
                .invalid-feedback
              .col-md-12
                textarea#message.form-control.my-2.form-input(type='text' name='message' placeholder='Message' required)
                div.invalid-feedback
              .col-md-12.sub-but.mt-1
                button.btn.btn-general.btn-white(role='button' type='submit' id='submit') Send
                .alert.alert-success.d-none(role='alert')
          
        .col-md-12.col-sm-12.mt-1
          h4.mb-0
            |  Mobile:
            |
            a(href='tel:+61438181188') 0438 181 188
          h4.mb-0
            |  Email:
            |
            a(href='mailto:daniel.sztolcman@gmail.com') daniel.sztolcman@gmail.com
          
          ul.list-inline.social-icon-f.top-data
            li
              a(href='https://www.linkedin.com/in/danielsztolcman', target='_blank', rel='noopener noreferrer')
                i.fab.fa-linkedin.top-social(style='color: #1178b3; border-color:#1178b3;')
            li
              a(href='https://github.com/djstozza', target="_blank" rel='noopener noreferrer')
                i.fab.fa-github.top-social(style='color: #010101; border-color:#010101;')
            li
              a(href='https://twitter.com/DSztolcman', target='_blank', rel='noopener noreferrer')
                i.fab.fa-twitter.top-social(style='color: #4AB3F4; border-color:#4AB3F4;')

  include includes/fpl_app_modal.pug
  include includes/sudoku_modal.pug
  include includes/trump_tweet_modal.pug
